.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Rubik', sans-serif;
}
.body,p{
    font-family: 'Roboto', sans-serif;
}
*{
    text-decoration: none !important;
}
img{
   max-width: 100%; 
}
a{
    text-decoration: none;
}
li{
    list-style: none !important;
}
.bg-grey{
    background-color: #f9fafb;
}

/* header-seciton */
.header-section{}
.header-section ul{}
.header-section ul li:nth-child(1) a{
    color: #e73c3e;
}
.header-section ul li a {
    color: black;
    font-size: 18px;
    padding: 0 20px;
    font-weight: 500;
}

/* header-hover */
.header-section ul li{
    position: relative;
}
.header-section ul li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 200%;
}
.header-section ul li ul{
    position: absolute;
    left: 0;
    top: 240%;
    width: 250px;
    background: #fff;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

}
.header-section ul li ul li{}
.header-section ul li ul li a {
    color: #111 !important;
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 19px;
    transition: .4s;
}
.header-section ul li ul li a:hover{
    letter-spacing: 1.5px;
    color: #e73c3e !important;
}

.header-right{}
.header-search {
    width: 11%;
    line-height: 72px;
    font-size: 22px;
}
.header-search i {
    border-right: 1px solid #111;
    padding-right: 11px;
}

.header-call{}
.header-call .call-icon {
    width: 42px;
    margin-left: 10px;
    font-size: 32px;
    color: #e83b3e;
    line-height: 64px;
}
.header-call .call-icon i{}



.call-number {
    width: 152px;
}
.call-number h6 {
    color: #606060;
}
.call-number a {
    display: block;
    color: #111;
}
.header-button {
    width: 156px;
}
.btn-main {
    display: inline-block;
    background: rgb(232, 59, 62);
    color: rgb(255, 255, 255) !important;
    padding: 11px 31px;
    border-radius: 5px;
    margin-top: 12px;
    position: relative;
    z-index: 1;
}
.btn-main::after{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #111;
    color: #fff ;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;
}
.btn-main:hover::after{
    width: 100%;
}


/* banner-section */
.banner-section{
    background: url(https://i.ibb.co/z8f4NNv/Class-24-2.jpg) no-repeat fixed top center;
    background-size: cover;
    padding: 200px 0;
}
.div{
    margin-top: 80px;
}
.div span {
    margin-right: 57px;
    display: inline-block;
    position: relative;
}
.div span::after {
    content: "";
    position: absolute;
    left: 78px;
    bottom: 10px;
    width: 30px;
    height: 1px;
    background: #111;
}
.follow-icon{
    margin-right: 10px;
}
.follow-icon i {
    margin-right: 7px;
}

/* brand-section */
.brand-section{
    padding: 80px 0;
}


/* why-us-section */
.why-us-section{
    padding: 100px 0;
    border-top: 1px solid black;
}


/* about section */
.about-section{
    padding: 50px 0;
}

.about-section ul{}
.about-section ul li{
    position: relative;
}


/* service section */
.service{
    padding: 80px 0;
}

.service h5{}
.service p{}

.s-items{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;

}
.s-items .icon{}
.s-items .icon {
    color: #e83b3e;
    font-size: 50px;
    margin-top: 28px;
    margin-bottom: 25px;
    height: 80px;
    width: 80px;
    overflow: hidden;
    background-color: #ddd!important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.s-items{
    position: relative;
    overflow: hidden;
}

.s-items::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -94px;
    width: 250px;
    height: 174px;
    background: rgba(231, 60, 62, .2);
    border-radius: 50%;
}

.s-items h2 {
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 13px;
}
.s-items p {
    text-align: center;
    font-size: 16px;
    line-height: 31px;
}


/* loan-section */
.loan-section{
    padding: 100px 0;
}

.loan-title{}
.finix-text h6 {
    color: #e73c3e;
    margin-bottom: 10px;
}
.loan-title h2{}
.finix-text p {
    color: #606060;
    font-size: 18px;
}

.loan-left-section{}
.loan-left-section h1 {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 17px;
}
.loan-left-section ul{
    position: relative;
}
.loan-left-section ul::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    width: 1px;
    height: calc(100% - 85px);
    background-color: #e73c3e;
}
.loan-left-section ul li{
    position: relative;
}
.loan-left-section ul li::before {
    content: attr(data-counter);
    position: absolute;
    left: -34px;
    top: 0px;
    width: 40px;
    height: 40px;
    background: rgb(240, 240, 240);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #e73c3e;
    font-size: 20px;
    border: 1px solid #e73c3e;
    font-weight: 500;
}
.loan-left-section ul li strong {
    font-size: 26px;
    margin-bottom: 6px;
    display: block;
    font-weight: 600;
    color: #111;
    margin-left: 22px;
}
.loan-left-section p {
    font-size: 16px;
    color: #606060;
    margin-left: 22px;
    margin-bottom: 20px;
}
.loan-right-form{
    background-color: #fdebeb;
    padding: 50px;
}
.loan-right-form h6{}
.loan-right-form h2{}
.loan-right-form input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}
.loan-right-form select {
    height: 46px;
    border: 0;
    font-size: 18px;
}

/* call-section */
.call-section{}
.call-section .call-bg{
    background-color: #e73c3e;
    padding: 60px 40px 50px 40px;
}
.call-section h2{}

.call-right{}
.call-right .icon{}
.call-right .icon i {
    font-size: 24px;
    height: 65px;
    width: 65px;
    background: #ffffff;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    color: #e86463;
    margin-right: 17px;
}
.call-right a {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
}


/* company value */
.company-value{
    padding: 100px 0;
}
.company-valu-text h3 {
    font-size: 33px;
    margin-bottom: 40px;
}
.values-text{}
.values-icon{}
.values-icon i {
    font-size: 43px;
    color: #eb5e60;
    margin-right: 15px;
}

.values-text-item{}
.values-text-item h3 {
    font-size: 25px;
    font-weight: 500;
    color: #271111;
}
.values-text-item p {
    color: #606060;
    font-size: 15px;
    margin-bottom: 26px;
}
.company-sec-img img {
    max-width: 100%;
    text-align: right;
    margin-top: 44px;
}


/* professional service */

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border: none;
    background: inherit;
}
.professional-service{
    padding: 100px 0;
}
.professional-service h6{}
.professional-service h2{}
.professional-service p{}

.loan-tabbar{}
.loan-tabbar ul{}
.loan-tabbar ul li{
    flex: 1;
}



/* professional service */

.professional-service{}
.loan-tabbar{
}
.my-tab-bar{}
.my-tab-bar li{}

.tab-items{
}
.tab-items .tab-icon{}
.tab-items .tab-icon i {
    color: #646464;
    font-size: 36px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin-bottom: 6px;
    background: #ffffff;
    border-radius: 50%;
    margin-top: 11px;
}
.tab-items h4 {
    font-size: 18px;
    color: #111;
    font-weight: 600;
}
.tab-hover{
    border-top: 1px solid #ddd;
}
.tab-text{}
.tab-text h4{}


.tab-hover-content{}
.tab-hover-content h3{}
.tab-hover-content p{}
.tab-hover-content ul{}
.tab-hover-content ul li{}
.tab-hover-content {}


/* client-section */
.client-section{
    padding: 100px 0;
}
.client-content{}
.client-content p {
    font-size: 22px;
}
.client-content h6{
    color: #e84648;
}
.client-content span {
    font-weight: 500;
    color: #606060;
    font-size: 16px;
}


.client-image{
    position: relative;
}
.client-image i {
    color: #e74042;
    font-size: 42px;
    height: 65px;
    width: 65px;
    background: #ffff;
    line-height: 65px;
    position: absolute;
    left: 100px;
    bottom: 71px;
    text-align: center;
    border-radius: 50%;
}
.client-image img{}


/* tean-section */
.team-section{}

.team-items{
    position: relative;
}
.team-items .teem-image{}
.team-items .teem-image img{}


.team-icon {
    position: absolute;
    left: 46px;
    bottom: 63px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.teem-image:hover .team-icon{
    visibility: visible;
    opacity: 1;
    bottom: 88px;
}
/* .team-icon i:nth-child(1){
    transition: .2s !important;
}
.team-icon i:nth-child(2){
    transition: .3s !important;
}
.team-icon i:nth-child(3){
    transition: .4s !important;
}
.team-icon i:nth-child(4){
    transition: .6s !important;
} */

.team-icon i {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.team-items h4 {
    color: #e74042;
    font-size: 20px;
    padding-top: 6px;
}
.team-items span {
    color: #606060;
}


/* success story section */
.success-story{
    padding: 100px;
}

.success-items{}
.success-items h6 {
    color: #e74042;
    font-weight: 400;
    padding-top: 22px;
}
.success-items h2 a {
    font-size: 23px;
    color: #111;
    margin-bottom: 4px;
    display: inline-block;
    transition: .5s;
}
.success-items h2 a:hover{
    color: #e74042;
}
.success-items .image{}
.success-items .image img{}

.text-spacing a {
    color: #111;
    font-weight: 400;
    letter-spacing: inherit;
    transition: .4s;
}
/* .text-spacing a:hover{
    letter-spacing: 1.5px;
    color: #e74042;

} */
.success-items:hover .text-spacing a{
    color: #e74042;
    letter-spacing: 1.5px;
}

.footer-widget {
    background-color: #111111;
    color: #fff;
    padding-top: 100px;
}

.widget-content{}

.widget-content p {
    font-size: 16px;
    margin-top: 11px;
}
.widget-content h6 {
    margin-right: 16px;
}
.widget-content a{}
.widget-content a i {
    color: #fff;
    margin-right: 13px;
}
.widget-content .logo{}
.widget-content .logo img{}


.widget-content h3 {
    font-size: 22px;
    margin-bottom: 31px;
}
.widget-content ul{
    padding-left: 0;
}
.widget-content ul li{}
.widget-content ul li a {
    color: #fff;
    margin-bottom: 9px;
    display: block;
    transition: .4s;
}
.widget-content ul li a:hover{
    letter-spacing: 1.5px;
    color: #e74042;

}

.contact-widget .icon {
    margin-right: 15px;
}
.contact-widget .icon i{}

.contact-content{}
.contact-content h5 {
    font-size: 16px;
    margin-bottom: 12px;
}
.contact-content h5 a{
    color: #fff;
}

.footer-bottom{}
.footer-bottom p {
    color: #dddd;
    margin-top: 48px;
    border-top: 1px solid #dddd;
    padding-top: 36px;
    font-size: 19px;
}
.footer-bottom p span {
    color: #fff;
    font-weight: 500;
    font-size: 19px;
}


